/* 
    Document   : newCascadeStyleSheet
    Created on : 12 févr. 2014, 15:41:24
    Author     : Yaovi Elom Kwasi AKA REDE <ederelk@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

